/*
 * Font smoothing.
 * This is a niche setting that will not be available via Global Styles.
 * https://github.com/WordPress/gutenberg/issues/35934
 */

html {
  scroll-behavior: smooth;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.wp-block-template-part {
  margin-block-start: 0;
}

.padding {
  padding: var(--wp--custom--spacing--p-y) var(--wp--custom--spacing--p-x);
}

.grecaptcha-badge {
  display: none;
}
