<!-- wp:template-part {"slug":"header","theme":"wp-mos"} /-->

<!-- wp:template-part {"slug":"hero","theme":"wp-mos"} /-->

<!-- wp:template-part {"slug":"order","theme":"wp-mos","className":"mos-order-block "} /-->

<!-- wp:template-part {"slug":"about","theme":"wp-mos"} /-->

<!-- wp:template-part {"slug":"services","theme":"wp-mos"} /-->

<!-- wp:template-part {"slug":"testimonials","theme":"wp-mos"} /-->

<!-- wp:template-part {"slug":"contact","theme":"wp-mos"} /-->

<!-- wp:template-part {"slug":"footer","theme":"wp-mos"} /-->

<!-- wp:mos-blocks/auth-modal /-->
