<!-- wp:template-part {"slug":"header","theme":"theme"} /-->

<!-- wp:template-part {"slug":"hero","theme":"theme"} /-->

<!-- wp:template-part {"slug":"order","theme":"theme","className":"mos-order-block"} /-->

<!-- wp:template-part {"slug":"about","theme":"theme"} /-->

<!-- wp:template-part {"slug":"services","theme":"theme"} /-->

<!-- wp:template-part {"slug":"testimonials","theme":"theme"} /-->

<!-- wp:template-part {"slug":"contact","theme":"theme"} /-->

<!-- wp:template-part {"slug":"footer","theme":"theme"} /-->
