<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:template-part {"slug":"hero-small","area":"uncategorized"} /-->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"padding":{"top":"3rem","bottom":"3rem"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:3rem;padding-bottom:3rem"><!-- wp:paragraph -->
<p>Politica de confidențialitate, în cadrul companiei MOȘ SRL, conform Regulamentului UE 2016/67, în legătură cu protecția clienților cu privire la prelucrarea datelor cu caracter personal, și legat de libera circulație a acestor date și de abrogare a Directivei 95/46/CE.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Compania MOȘ SRL (denumită în continuare <strong>Compania</strong>) se aliniază în conformitate cu&nbsp; Regulamentul UE 2016/6709 al Parlamentului European și al Consiliului, privind protecția persoanelor fizice în procesul de prelucrare a datelor personale, dar și privind libera lor circulație și de abrogare a Directivei 95/46/CE (denumit în continuare <strong>GDPR</strong>), intrat în vigoare de la data de 25.05.2018.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Prezenta Politică de confidențialitate se aplică:</strong></p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>Punctelor de lucru și sediului companiei <a href="https://mos.ro/">https://mos.ro/</a> (SC MOȘ SRL)</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Personalului și departamentelor ce aparțin companiei (angajații MOȘ SRL)</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Tuturor furnizorilor, contractanților și oricăror alte persoane care lucrează în numele MOȘ SRL</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p><strong>TERMENI</strong></p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li><strong><em>Entitate / Operator</em></strong> (în acest caz SC MOȘ SRL) și oricare altă autoritate publică, persoană juridică, organizație non-guvernamentală cu drept de prelucrare sau de stabilire a scopului și mijloacelor de prelucrare a datelor cu caracter personal.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><strong><em>Date cu caracter personal</em></strong> - toate informațiile legate de o persoană fizică identificabilă sau identificată. O persoană identificabilă reprezintă o persoană ce poate fi identificată indirect sau direct, cu ajutorul unuia dintre elementele de identificare, spre exemplu: nume și prenume, cod numeric personal (CNP), adresă, email, telefon, venituri, date biometrice, imagini (fotografii), adresa de IP, precum și alte date (medicale, genetice, datele privind originea etnică/rasială, apartenența sindicală, preocupări culturale, convingeri filosofice, religioase, politice)</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><strong><em>Persoană vizată </em></strong>- este o persoană fizică ale cărei date cu caracter personal sunt prelucrate sau pot fi prelucrate de către operator.&nbsp;</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p><strong>INFORMAȚII GENERALE&nbsp;</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>SC MOȘ SRL, cu sediul în localitatea Săcașeni, strada Morii, nr.175,&nbsp; înregistrată la Oficiul Registrului Comerțului sub nr J30/763/1994, cod fiscal RO5705959, e-mail: <a href="mailto:info@mos.ro">info@mos.ro</a>, este responsabilă de prelucrarea datelor cu caracter personal, colectate în mod direct de la persoanele fizice vizate sau prin alte surse legale.&nbsp;&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Societatea noastră (SC MOȘ SRL) are calitate de operator în conformitate cu prevederile noului Regulament. Menționăm că au fost luate toate măsurile pentru implementarea acțiunilor rezonabile pentru protecția informațiilor personale ale persoanelor fizice, astfel încât acestea să fie prelucrate în siguranță.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Atunci când persoanele fizice vizate intră sau sunt în contact cu societarea noastră, informațiile acestora ne sunt încredințate.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Scopul Politicii de Confidențialitate este de a le explica persoanelor fizice vizate care sunt datele personale pe care le prelucrăm, de ce le prelucrăm și utilizăm (în calitatea noastră de Operator). Garantăm respectarea politicilor de cofidențialitate și vă asigurăm că nu transmitem sau vindem liste cu informații personale/adrese de email ale persoanelor fizice vizate. Suntem pe deplin conștienți de faptul că toate informațiile și datele personale aparțin persoanelor fizice. Din acest motiv, ne luăm angajamentul de a le prelucra cu atenție, după care le stocăm în siguranță. De asemenea, nu vom oferi informații și date personale părților terțe fără a anunța în prealabil persoanele fizice vizate.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Politică de Confidențialitate</strong> de față nu se extinde site-urile și/sau pe aplicațiile părților terțe, la care vizitatorii site-ului nostru ar putea ajunge prin accesarea unor link-uri prezente pe website-ul nostru, deoarece acest fapt excede controlul companiei noastre. De aceea, le recomandăm tuturor persoanelor vizate să examineze <strong>Politica de Confidențialitate</strong> a oricărui site vizitat sau aplicație pe care o utilizează, înainte de furnizarea datelor personale.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Această <strong>Politică de Confidențialitate</strong> conține procesul de selecție și recrutate a persoanelor care aplică aplicanți la posturile disponibile în cadrul companiei noastre.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><em>Spre exemplu: informații și date cu caracter personal furnizate atunci când se completează chestionar/formular de angajare sau datele existente în CV.&nbsp;</em></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>În acest sens, le aducem la cunoștință candidaților că informațiile și datele personale pe care le colectăm, dar și scopul pentru care le colectăm și utilizăm sunt în conformitate cu <strong>Politica de Confidențialitate</strong> specifică procesului de recrutate pe care compania a formulat-o.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>În conformitate cu legislația în vigoare, persoanele fizice care beneficiază de serviciile noastre sau sunt într-o relație de colaborare de orice fel cu compania noastră, poartă numele de <strong>persoană fizică vizată</strong> care, așa cum a fost menționat în secțiunea <strong>TERMENI</strong>, este o persoană fizică identificabilă sau identificată. Pentru a fi transparenți cu privire la modul în care prelucrăm datele personale și pentru a le permite persoanelor fizice vizate să își exercite drepturile oricând, cu facilitate, au fost implementate toate măsurile necesare pentru a ușura comunicare dintre cele două părți (persoana vizată și operatorul de date).&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>ANGAJAMENTUL SC MOȘ SRL</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Protecția datelor cu caracter personal ale persoanelor vizate este esențială pentru compania Moș SRL. Ne angajăm să respectăm legislația națională, Noul Regulament EU 2016/679, dar și următoarele principii:</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li><strong>Legalitate, echitate și transparență</strong></li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p>Prelucrăm în mod legal și corect informațiile și datele personale ale persoanelor vizate. Suntem întotdeauna transparenți cu privire la informațiile și datele pe care le utilizăm, persoanele vizate sunt întotdeauna informate legat de acest aspect.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li><strong>Toate persoanele vizate dețin controlul</strong></li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p>În limitele legii, compania noastră le asigură persoanelor vizate opțiunea de a examina, modifica sau șterge toate datele cu caracter personal furnizate pe website-ul companiei noastre, precum și posibilitatea de a-și exercita celelalte drepturi.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li><strong>Securitate</strong></li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p>Aplicăm toate măsurile rezonabile de securitate și criptare, cu scopul de a proteja cât mai bine datele cu caracter personal. Menționăm că este important ca persoanele vizate să rețină faptul că nicio aplicație, site sau conexiune Internet nu este complet sigură, întrucât întotdeauna pot exista riscuri minime.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li><strong>Limitarea scopului și integritatea datelor</strong></li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p>Folosim datele personale doar în scopurile specificate în momentul colectării acestora sau cu scopuri compatibile sau similare cu cele pe care le specificăm inițial. Toate scopurile de utilizare a datelor cu caracter personal sunt în conformitate cu legislația în vigoare. Din acest motiv, compania noastră ia toate măsurile pentru ca datele personale să fie corecte, actualizate și complete.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>NELĂMURIRI/ÎNTREBĂRI</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Pentru toate nelămuririle sau eventuale întrebări suplimentare privind datele personale, toate persoanele vizate ne pot contacta online, pe mail (<a href="mailto:info@mos.ro">info@mos.ro</a>). Compania noastră poate fi contactată în momentul în care există motive de îngrijorarea cu privire la modul în care prelucrăm informațiile și datele personale, dar și cu privire la cum sunt tratate chestiunile de confidențialitate sau când se dorește exercitatea drepturilor legate cu privire la datele deținute.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Compania are dreptul de a modifica prezenta <strong>Politică de Confidențialitate</strong> în orice moment. Toate modificările și actualizările sunt aplicate imediat după notificare; ne ocupăm de informarea persoanelor fizice vizate notificându-le direct pe webiste sau prin transmiterea unui mail.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>DATELE PERSOANELOR FIZICE VIZATE</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Atunci când persoanele vizate interacționează cu compania noastră, există posibilitatea să ne furnizeze sau să își dea acordul pentru preluarea din alte surse a datelor ca:</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>Nume și prenume</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Cod numeric personal (CNP)</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Adresă</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>E-mail</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Informații despre serviciile și produsele pe care le-au achiziționat</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Date bancare (incluzând contul bancar pentru retur)</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p><strong>CU CE SCOP SUNT ACESTE DATE COLECTATE?</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Compania noastră colectează datele cu caracter personal ale persoanelor fizice vizate în scopuri determinate și legitime, care includ, dar nu se limitează doar la acestea, următoarele:</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li><strong>Proces de recrutare</strong></li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>Transmiterea informațiilor privind posturile disponibile în companie</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Încheierea contractelor de muncă relevante calificării/specializării candidaților</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><strong>Comenzi</strong></li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>Factură pentru produsele și serviciile achiziționate</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Expedierea la adresa menținată de client la momentul plasării comenzii</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Transmiterea informațiilor privind livrarea comenzilor, precum și a situațiilor neprevăzute care ar putea surveni</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Returnarea banilor plătiți în caz de retur</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Ridicarea produselor de la adresa clientului în caz de retur</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><strong>Alte scopuri</strong></li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>Pentru crearea conturilor de client</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Pentru a modifica, încheia sau executa un contract între companie și persoanele vizate</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Pentru a răspunde solicitărilor persoanelor vizate</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Pentru a adresa nelămuririle și întrebările persoanelor vizate</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Pentru a optimiza produsele și serviciile oferite</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Pentru a diagnostica și remedia defecțiunile tehnice</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Pentru a trimite oferte, reclame și/sau conținut personalizat</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Pentru a apăra compania împotriva potențialelor atacuri cibernetice</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Pentru a revendica sau constata anumite drepturi în instanță</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Pentru a utiliza datele personale în scopuri de marketing (le utilizăm în acest scop doar cu acordul personei vizate)</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Pentru a conforma compania legislației în vigoare.&nbsp;</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p><strong>TEMEIUL LEGAL PENTRU A PRELUCRA DATELE</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>În momentul în care interacționează cu compania noastră, persoanele vizate își oferă acordul pentru a prelucra datele personale. Menționăm faptul că orice persoană vizată își poate retrage în orice moment consimțământul pentru utilizarea informațiilor personale. Acest lucru poate fi realizat prin dezabonare (Unsubscribe) direct din mail (în situațiile în care se aplică) sau prin trimiterea unei cereri scrise la adresa de mail - <a href="mailto:info@mos.ro">info@mos.ro</a>.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Prelucrarea datelor cu caracter personal este necesară pentru următoarele:</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>Încheierea sau executarea unui contract între compania noastră și persoanele fizice vizate. Spre exemplu: contract de vânzare, contract de prestări servicii, contract de sponsorizare.&nbsp;</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Îndeplinirea obligațiilor legale ale companiei.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Protejarea intereselor esențiale ale persoanelor vizate, dar și a altor persoane fizice.&nbsp;</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p><strong>STOCAREA DATELOR</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Compania stochează datele personale doar pentru o perioadă pentru a îndeplini scopurile menționate, respectiv nu mai mult de 5 ani de la încheierea contractului sau ultima interacțiune a companiei cu persoanele vizate. La încheierea acestei perioade, datele personale sunt șterse din sistemul informatic, sunt distruse sau modificate în date anonime, și urmează să fie utilizate pentru cercetare științificp, statistică sau istorică.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Important de reținut: datele cu caracter personal sunt stocate pe perioada impusă de legislație, în unele situații fiind reglementate expres.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>PARTAJAREA DATELOR PERSONALE CU TERȚE PĂRȚI</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Ne angajăm să nu partajăm datele personale obținute și generate de persoanele vizate (în procesul de angajare, procesul de vânzare) către terțe părți sau către companii fără a avea mai întâi consimțământul expres al persoanelor fizice vizate, acord care se solicită separat în acest sens.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Confirmăm, de asemenea, faptul că stocăm în mod securizat datele persoane furnizate în cadrul procesului de recrutare și diferitele etape ale acestuia. După ce nu mai sunt utilizate, aceste date personale sunt distruse/șterse. În acest sens, persoanele fizice vizate sunt informate cu privire la existența unor acorduri de prelucrare a datelor personale cu furnizorul/furnizorii de software, prin care compania noastră a fost asigurată că și eu lucrează în conformitate cu GDPR.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>SC Moș SRL ar putea transmite datele cu caracter personal ale persoanei fizice vizate, respectând legea aplicabilă, unor parteneri de afaceri sau terțe părți, așa cum sunt împuterniciții proprii. Menționăm că depunem eforturi permanent pentru a fi siguri că aceste părți terțe, implementează la rândul lor măsuri specifice pentru securitatea și protecția utilizării datelor. De aceea, avem clauze contractuale cu toate aceste terțe părți, pentru ca datele cu caracter personal să fie protejate. Persoanele vizate sunt înștiințate de fiecare dată (în termen rezonabil) cu privire la identitatea acestor părți terțe înainte de a transmite datele personale. Vă asigurăm că avem grijă ca transferurile să fie legitime, având la bază acordul persoanei vizate sau orice alt temei juridica care se poate aplica.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>De exemplu, datele și informațiile personale pot fi furnizată către alte companii, ca furnizorul de servicii IT sau telecomunicații, contabilitate, servicii juridice, firme de transport, firme de curierat sau alte părți terțe cu care sunt încheiate contracte de colaborare. Selectăm cu atenție toți acești parteneri și terți, astfel încât toate informațiile și datele personale să fie prelucrate exclusiv în scopurile menționate mai sus.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Datele ar mai putea fi partajate către partenerii de afacere, drept consecință a eforturilor comune de furnizare a serviciilor și produselor. Un alt caz, mai puțin proabil, este cazul în care compania vinde afacerea (sau o parte din ea), rezultând în transferul datelor personale, care se realizează odată cu vânzarea.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>În plus, datele mai pot fi transmise unor terțe părți, doar cu acordul persoanelor fizice vizate.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>De reținut! Toate datele personale pot fi transmise către poliție, instanțe judecătorești, parchet și alte organe abilitate ale statului, în baza și limitele prevederilor legale sau ca urmare a unor cereri formulate expres.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>În limite rezonabile, compania se asigură că toate datele personale ale persoanelor vizate nu vor părăsi Spațiul Economic European (SEE). Totuși, în măsura în care datele personale sunt transfertate către tări din afara SEE, companie se angajează să urmărească, în toate cazurile, fără niciun fel de excepție, ca transferurile de date sp fie legitime și realizate doar cu acordul clar al persoanelor fizice vizate sau în baza unui temei legal.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>DREPTURILE UTILIZATORILOR ÎN RAPORT CU REGULAMENTUL&nbsp;</strong></p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>Dreptul de a fi informat cu privire la prelucrarea datelor cu caracter personal.&nbsp;</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Dreptul de a avea acces la datele personale, opțiunea de a rectifica datele incorecte și de a le modifica incomplete.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Dreptul de a-și retrage acordul în toate cazurile în care prelucrarea datelor personale se face în baza acestuia.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Dreptul de a se opune și restricționa prelucrarea datelor.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Dreptul de a fi șters din bazele informatice.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Dreptul de a se adresa justiției.&nbsp;</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Dreptul de formualre și înaintare a unei reclamații/plângeri în fața Autorității de Supraveghere.&nbsp;</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p>SC Moș SRL le aduce la cunoștință tuturor vizitatorilor, utilizatorilor și persoanelor fizice vizate:</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>Consimțământul privind prelucrarea datelor personale sau cele pentru marketing direct poate fi retras oricând, efectuând pașii de dezabonare (mail, SMS, orice altă formă de abonare electronică).</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>Dorința de exercitare a drepturilor poate fi transmisă prin solicitare scrisă, datată și semnată la adresa de contact - info@mos.ro&nbsp;</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>Drepturile mai sus menționate nu sunt absolute; există și unele excepții. Din acest motiv, cererile primite trebuie să fie analizate, pentru a decide dacă ele sunt sau nu întemeiate. Dacă cererea este întemeiată, compania va facilita exercitatea drepturilor. În cazul în care o cerere este neîntemeiată, compania o va respinge, cu informarea persoanei care a solicitat-o, atât despre respingerea cererii, cât și despre drepturile de a se adresa justiției sau de a depune o plângere către Autoritatea de Supraveghere.&nbsp;</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p>Compania se angajează să răspundă cererilor în termen de aproximatic treizeci (30) de zile, dar termenul se poate prelungi din anumite motive, precum: numărul mare de solicitări, complexitatea solicitării, imposibilitatea de a identifica persoana solicitantă. În această ultimă situație, dacă în urmă tuturor eforturile depuse de a identifica utilizatorul/persoana identificată, compania nu reușește să o identifice, aceasta nu este obligată să dea curs solicitării.&nbsp;</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->