<!-- wp:template-part {"slug":"header-minimal"} /-->

<!-- wp:group {"className":"mos-order","layout":{"type":"default"}} -->
<div class="wp-block-group mos-order"><!-- wp:group {"style":{"spacing":{"padding":{"top":"9rem","right":"0","bottom":"0","left":"0"}}},"className":"mos-order-wrapper","layout":{"type":"constrained","contentSize":""}} -->
<div class="wp-block-group mos-order-wrapper" style="padding-top:9rem;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":4,"style":{"typography":{"fontWeight":"700"}}} -->
<h4 style="font-weight:700">Comandă Nouă</h4>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:mos-blocks/order-form /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->