<!-- wp:template-part {"slug":"header-minimal","area":"uncategorized"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"6rem"}}},"className":"mos-auth","layout":{"type":"default"}} -->
<div class="wp-block-group mos-auth" style="padding-top:6rem"><!-- wp:group {"className":"mos-auth-wrapper","layout":{"type":"constrained"}} -->
<div class="wp-block-group mos-auth-wrapper"><!-- wp:group {"className":"mos-auth-meta","layout":{"type":"flex","flexWrap":"nowrap","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group mos-auth-meta"><!-- wp:heading {"style":{"typography":{"fontWeight":"700"}},"className":"mos-auth-title"} -->
<h2 class="mos-auth-title" style="font-weight:700">Bine ați revenit</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Lorem ipsum dolor sit amet consectetur. Dignissim odio molestie lacus euismod at amet velit amet. Dui pharetra porttitor in auctor malesuada leo.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:mos-blocks/login-form /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-minimal","area":"uncategorized"} /-->