<!-- wp:template-part {"slug":"header-hu","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"hero-hu","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"order-hu","area":"uncategorized","className":"mos-order-block"} /-->

<!-- wp:template-part {"slug":"about-hu","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"services-hu","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"testimonials-hu","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"contact-hu","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"footer-hu","area":"uncategorized"} /-->