<!-- wp:template-part {"slug":"header-hu","area":"uncategorized"} /-->

<!-- wp:group {"className":"remove-margin","layout":{"type":"default"}} -->
<div class="wp-block-group remove-margin"><!-- wp:group {"style":{"spacing":{"padding":{"top":"3rem","bottom":"1rem"}}},"className":"mos-cerere-oferta-hero","layout":{"type":"constrained"}} -->
<div class="wp-block-group mos-cerere-oferta-hero" style="padding-top:3rem;padding-bottom:1rem"><!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"className":"mos-cerere-oferta-hero-row","layout":{"type":"flex","flexWrap":"nowrap","orientation":"vertical"}} -->
<div class="wp-block-group mos-cerere-oferta-hero-row"><!-- wp:heading {"style":{"typography":{"fontWeight":"900"}}} -->
<h2 style="font-weight:900">Felhasználási Feltételek</h2>
<!-- /wp:heading --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"padding":{"top":"3rem","bottom":"3rem"}}},"className":"padding","layout":{"type":"constrained"}} -->
<div class="wp-block-group padding" style="padding-top:3rem;padding-bottom:3rem"><!-- wp:paragraph -->
<p><strong>MINDEN JOG FENNTARTVA</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Weboldalunk megnyitásával és használatával a látogatók elfogadják ezt az adatvédelmi szabályzatot.<br>https://docs.google.com/document/d/1_yxja7q_fBPMEYrmRBHE7caRHz6_thNnnQ7g988E3oo/edit#Az oldalon bemutatott anyag egyetlen része sem továbbítható vagy reprodukálható semmilyen formában (fizikai vagy elektronikus) az alábbiak szerint: fénymásolással, rögzítéssel vagy visszakereséssel vagy információs tárolással történő sokszorosítással, kivéve, ha ehhez előzetes írásbeli hozzájárulást, dátummal és aláírással. a szerző.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>NYILATKOZAT ÉS JOGI KÖZLEMÉNYEK</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>A weboldalon található anyagokból származó információk a szerző álláspontját képviselik a weboldal indulásakor. Az új feltételek alapján a szerző fenntartja a jogot a vélemény, álláspont, valamint az oldalon megjelenő tartalom és egyes beszámolók módosítására, aktualizálására.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Ezenkívül a szerző, valamint képviselői, munkatársai vagy partnerei nem vállalnak felelősséget a jelen anyagban található adatok hibáiért vagy pontatlanságaiért. Ugyanakkor rögzítjük, hogy a szervezet vagy személy sérelme nem szándékos.<br>Ha jogi vagy jogi kérdésekben konzultációra van szükség, szakemberhez (szakképzett szakember) szükséges fordulni.<br>A weboldalon található anyagok nem szolgálnak jogi vagy számviteli tanácsadási forrásként. Az Ön országában a tranzakciókra és üzleti gyakorlatokra vonatkozó hatályos törvények ismerete szükséges.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Megjegyezzük, hogy egy személyre (természetes, jogi) vagy vállalkozásra való hivatkozás pusztán a véletlen műve.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>A rendelés leadásakor és a szolgáltatási szerződés megkötésekor az ügyfelek automatikusan regisztrálásra kerülnek a felhasználási feltételeket elfogadóként (a fogyasztói jogokról szóló 2014. április 6- i 34/2014 GEO rendelet értelmében ).</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-hu","area":"uncategorized"} /-->