<!-- wp:template-part {"slug":"header-hu","area":"uncategorized"} /-->

<!-- wp:group {"className":"remove-margin","layout":{"type":"default"}} -->
<div class="wp-block-group remove-margin"><!-- wp:group {"style":{"spacing":{"padding":{"top":"3rem","bottom":"1rem"}}},"className":"mos-cerere-oferta-hero","layout":{"type":"constrained"}} -->
<div class="wp-block-group mos-cerere-oferta-hero" style="padding-top:3rem;padding-bottom:1rem"><!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"className":"mos-cerere-oferta-hero-row","layout":{"type":"flex","flexWrap":"nowrap","orientation":"vertical"}} -->
<div class="wp-block-group mos-cerere-oferta-hero-row"><!-- wp:heading {"style":{"typography":{"fontWeight":"900"}}} -->
<h2 style="font-weight:900">Adatvédelmi Irányelvek</h2>
<!-- /wp:heading --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"padding":{"top":"3rem","bottom":"3rem"}}},"className":"padding","layout":{"type":"constrained"}} -->
<div class="wp-block-group padding" style="padding-top:3rem;padding-bottom:3rem"><!-- wp:paragraph -->
<p>Az adatvédelmi szabályzat a MOȘ SRL társaságon belül, a 2016/67 EU Rendeletnek megfelelően, az ügyfelek személyes adatok feldolgozása során történő védelmével kapcsolatban, valamint ezen adatok szabad áramlásával és a 95/ irányelv hatályon kívül helyezésével kapcsolatos. 46/EK.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>A MOȘ SRL társaság (továbbiakban <strong>Társaság </strong>) megfelel a 2016/6709 Európai Parlament és Tanács 2016/6709 számú EU-rendeletnek, amely a természetes személyek védelméről szól a személyes adatok kezelése során, valamint szabad mozgásuk és hatályon kívül helyezésük tekintetében. 95 /46/EK irányelv (a továbbiakban: <strong>GDPR </strong>), 2018.05.25-én lépett hatályba.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Ez az adatvédelmi szabályzat vonatkozik:</strong></p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>A cég munkahelyei és székhelye <a href="https://mos.ro/">https://mos.ro/ </a>(SC MOȘ SRL)</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>A céghez tartozó munkatársaknak és részlegeknek (MOȘ SRL alkalmazottak)</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Minden beszállítónak, vállalkozónak és minden más személynek, aki a MOȘ SRL nevében dolgozik</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p><strong>FELTÉTELEK</strong></p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li><strong><em>Szervezet / Üzemeltető </em></strong>(jelen esetben SC MOȘ SRL) és bármely más hatóság, jogi személy, nem kormányzati szervezet, amely jogosult a személyes adatok feldolgozására vagy meghatározni a személyes adatok kezelésének célját és eszközeit.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><strong><em>Személyes adat </em></strong>- minden olyan információ, amely egy azonosítható vagy azonosított természetes személyre vonatkozik. Beazonosítható személy az a személy, aki közvetve vagy közvetlenül azonosítható valamelyik azonosító elem segítségével, például: vezeték- és vezetéknév, személyi számkód (CNP), cím, email, telefon, jövedelem, biometrikus adatok, képek (fotók ), IP-cím, valamint egyéb adatok (orvosi, genetikai, etnikai/faji származású adatok, szakszervezeti tagság, kulturális megfontolások, filozófiai, vallási, politikai meggyőződés)</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><strong><em>személy </em></strong>, akinek személyes adatait az üzemeltető kezeli vagy kezelheti.</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p><strong>ÁLTALÁNOS INFORMÁCIÓ</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Az adatfeldolgozásért az SC MOȘ SRL, székhelye Săcașeni, Morii utca 175. szám, a Kereskedelmi Nyilvántartási Hivatalban J30/763/1994 számon van bejegyezve, adószám: RO5705959, e-mail: <a href="mailto:info@mos.ro">info@mos.ro </a>. személyesen, közvetlenül az érintett természetes személyektől vagy más jogforráson keresztül beszedve.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Cégünk (SC MOȘ SRL) az új Szabályzat előírásainak megfelelően üzemeltetői státusszal rendelkezik. Tudomásul vesszük, hogy minden intézkedést megtettünk a természetes személyek személyes adatainak védelme érdekében ésszerű lépések végrehajtása érdekében, hogy azok biztonságosan kezelhetők legyenek.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Amikor az érintett természetes személyek belépnek cégünkbe, vagy kapcsolatba lépnek vele, adataikat ránk bízzuk.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Az Adatkezelési Tájékoztató célja, hogy az érintett természetes személyek számára elmagyarázza, mely személyes adatokat kezeljük, miért kezeljük és használjuk azokat (Üzemeltetőként). Garantáljuk a társ-bizalmassági irányelvek betartását, és biztosítjuk, hogy nem továbbítjuk és nem adjuk el az érintett személyek személyes adatait/e-mail címeit tartalmazó listákat. Tisztában vagyunk azzal, hogy minden személyes információ és adat egyénekhez tartozik. Emiatt elköteleztük magunkat, hogy gondosan feldolgozzuk, majd biztonságosan tároljuk. Harmadik félnek sem adunk ki információkat és személyes adatokat az érintettek előzetes értesítése nélkül.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Adatkezelési Szabályzat </strong>nem terjed ki harmadik felek weboldalaira és/vagy alkalmazásaira, amelyeket a weboldalunk látogatói a weboldalunkon található hivatkozásokra kattintva érhetnek el, mert ez a tény meghaladja cégünk befolyását. Ezért azt javasoljuk, hogy az érintettek személyes adatainak megadása előtt tekintsék <strong>át az általa meglátogatott webhelyek vagy alkalmazások adatvédelmi szabályzatát .</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Ez az <strong>adatvédelmi szabályzat </strong>tartalmazza a vállalatunkon belüli állásokra jelentkező személyek kiválasztásának és toborzásának folyamatát.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><em>Például: a foglalkoztatási kérdőív/űrlap kitöltésekor megadott információk és személyes adatok vagy az önéletrajzban meglévő adatok.</em></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Ezzel kapcsolatban tájékoztatjuk a jelentkezőket, hogy az általunk gyűjtött információk és személyes adatok, valamint azok gyűjtésének és felhasználásának célja összhangban vannak a cég által megfogalmazott, a toborzási folyamatra vonatkozó <strong>adatvédelmi szabályzattal .</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>A hatályos jogszabályoknak megfelelően azon természetes személyek, akik szolgáltatásainkból részesülnek, vagy cégünkkel bármilyen együttműködési kapcsolatban állnak, annak a <strong>természetes személynek a nevét viselik, aki a FELTÉTELEK szakaszban </strong>említettek szerint azonosítható természetes személy, vagy azonosított. Annak érdekében, hogy átláthatóak legyünk a személyes adatok feldolgozásával kapcsolatban, és hogy az érintettek bármikor, könnyedén gyakorolhassák jogaikat, minden szükséges intézkedést megtettünk a két fél (az érintett és az üzemeltető időpontja) közötti kommunikáció megkönnyítésére. .</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>COMMITMENT SC MOȘ SRL</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Az érintettek személyes adatainak védelme elengedhetetlen a Moș SRL társaság számára. Elkötelezettek vagyunk a nemzeti jogszabályok, a 2016/679-es új EU-rendelet, valamint az alábbi elvek betartása mellett:</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li><strong>Jogszerűség, tisztesség és átláthatóság</strong></li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p>Az érintettek személyes adatait és adatait jogszerűen és tisztességesen kezeljük. Mindig átláthatóak vagyunk az általunk használt információkkal és adatokkal kapcsolatban, az érintettek erről mindig tájékoztatást kapnak.</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li><strong>Minden érintett az irányítás alatt áll</strong></li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p>Társaságunk a jogszabályi keretek között lehetőséget biztosít az érintettek számára a társaságunk honlapján megadott személyes adatok áttekintésére, módosítására vagy törlésére, valamint egyéb jogaik gyakorlására.</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li><strong>Biztonság</strong></li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p>Minden ésszerű biztonsági és titkosítási intézkedést alkalmazunk a személyes adatok lehető legjobb védelme érdekében. Felhívjuk figyelmét, hogy az érintettek számára fontos megjegyezni, hogy egyetlen alkalmazás, oldal vagy internetkapcsolat sem teljesen biztonságos, mivel mindig előfordulhat minimális kockázat.</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li><strong>Célkorlátozás és adatintegritás</strong></li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p>A személyes adatokat csak az adatgyűjtéskor meghatározott célokra, illetve az általunk eredetileg meghatározottakkal összeegyeztethető vagy ahhoz hasonló célokra használjuk fel. A személyes adatok felhasználásának minden célja összhangban van a hatályos jogszabályokkal. Ezért cégünk minden intézkedést megtesz annak érdekében, hogy a személyes adatok helyesek, naprakészek és teljesek legyenek.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Aggályok/KÉRDÉSEK</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>A személyes adatokkal kapcsolatos minden aggályával vagy további kérdésével minden érintett kapcsolatba léphet velünk online, e-mailben ( <a href="mailto:info@mos.ro">info@mos.ro </a>). Cégünk akkor fordulhat, ha aggodalomra ad okot az információk és személyes adatok feldolgozásával kapcsolatban, de akkor is, ha az adatvédelmi kérdéseket hogyan kezeljük, vagy ha a tárolt adatokkal kapcsolatos jogait kívánják gyakorolni.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>A Társaságnak jogában áll a jelen <strong>Adatvédelmi szabályzatot </strong>bármikor módosítani. Az értesítést követően minden változtatás és frissítés azonnal alkalmazásra kerül; gondoskodunk az érintett természetes személyek tájékoztatásáról közvetlenül a weboldalon vagy e-mailben.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>AZ ÉRINTETT TERMÉSZETES SZEMÉLYEK ADATAI</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Amikor az érintettek kapcsolatba lépnek a cégünkkel, megadhatják nekünk, vagy hozzájárulhatnak ahhoz, hogy adatokat gyűjtsünk le más forrásokból, például:</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>Vezetéknév, keresztnév</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Személyi számkód (CNP)</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Cím</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Email</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Információk az általuk megvásárolt szolgáltatásokról és termékekről</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Banki adatok (beleértve a visszaküldött bankszámlát is)</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p><strong>MIÉRT GYŰJTJÜK EZEKET AZ ADATOKAT?</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Társaságunk meghatározott és jogszerű célból gyűjti az érintett természetes személyek személyes adatait, amelyek többek között a következők:</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li><strong>Toborzási folyamat</strong></li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>Információk küldése a vállalatnál betölthető pozíciókról</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>A jelöltek végzettsége/szakképzettsége szempontjából releváns munkaszerződések megkötése</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><strong>Megrendelések</strong></li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>Számla a vásárolt termékekről és szolgáltatásokról</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Szállítás a vevő által a rendelés leadásakor megadott címre</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Információk küldése a megrendelések kézbesítésével, valamint az esetlegesen felmerülő előre nem látható helyzetekkel kapcsolatban</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Visszaküldés esetén a befizetett pénz visszatérítése</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>A termékek átvétele visszaküldés esetén a vásárló címéről</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><strong>Egyéb célokra</strong></li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>Ügyfélfiókok létrehozásához</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>A társaság és az érintettek közötti szerződés módosítása, megkötése vagy végrehajtása</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Az érintettek kéréseinek megválaszolása</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Az érintettek aggályainak és kérdéseinek kezelése</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>A kínált termékek és szolgáltatások optimalizálása</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Technikai hibák diagnosztizálására és kijavítására</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Ajánlatok, hirdetések és/vagy személyre szabott tartalom küldésére</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>A vállalat megvédése a potenciális kibertámadásoktól</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Bizonyos jogok igénylése vagy megállapítása a bíróságon</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>A személyes adatok marketingcélú felhasználása (csak az érintett hozzájárulásával használjuk fel erre a célra)</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Hogy a társaság megfeleljen a hatályos jogszabályoknak.</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p><strong>AZ ADATOK FELDOLGOZÁSÁNAK JOGALAPJA</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Vállalkozásunkkal való kapcsolatfelvétel során az érintettek hozzájárulnak a személyes adatok kezeléséhez. Felhívjuk figyelmét, hogy bármely érintett bármikor visszavonhatja a személyes adatok felhasználásához adott hozzájárulását. Ezt megteheti közvetlenül az e-mailből történő leiratkozással (Leiratkozás) (azokban az esetekben, amikor ez vonatkozik), vagy írásos kéréssel az <a href="mailto:info@mos.ro">info@mos.ro e-mail címre </a>.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>A személyes adatok kezelése az alábbiak miatt szükséges:</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>Társaságunk és az érintett természetes személyek közötti szerződés megkötése vagy végrehajtása. Például: adásvételi szerződés, szolgáltatási szerződés, szponzori szerződés.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>A társaság jogi kötelezettségeinek teljesítése.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Az érintettek, de más természetes személyek alapvető érdekeinek védelme.</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p><strong>ADATTÁROLÁS</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>A Társaság a személyes adatokat csak a megjelölt célok teljesítéséhez szükséges ideig tárolja, azaz legfeljebb 5 évig a szerződés megkötésétől vagy a Társaságnak az érintettekkel való utolsó kapcsolattartásától számítva. Ezen időszak lejártával a személyes adatok törlésre kerülnek a számítógépes rendszerből, megsemmisülnek vagy anonim adatokká változnak, és azokat tudományos, statisztikai vagy történelmi kutatásra használják fel.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Fontos megjegyezni: a személyes adatokat a törvény által előírt ideig tároljuk, bizonyos esetekben kifejezetten szabályozva.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>SZEMÉLYES ADATOK MEGOSZTÁSA HARMADIK FELEKKEL</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Vállaljuk, hogy az érintettek által megszerzett és generált személyes adatokat (a felvételi folyamatban, az értékesítési folyamatban) nem osztjuk meg harmadik féllel vagy céggel az érintettek kifejezett hozzájárulása nélkül, amely ehhez külön kérhető. .</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Megerősítjük továbbá, hogy a toborzási folyamat és annak különböző szakaszai során megadott személyes adatokat biztonságosan tároljuk. Miután a továbbiakban nem használják, ezek a személyes adatok megsemmisülnek/törlődnek. Ezzel kapcsolatban az érintett természetes személyek tájékoztatást kapnak a szoftverszállító(k)val kötött személyes adatkezelési szerződések meglétéről, amelyek révén társaságunk biztosította, hogy én is a GDPR szerint dolgozom.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Az SC Moș SRL az érintett természetes személy személyes adatait a vonatkozó jogszabályoknak megfelelően továbbíthatja üzleti partnereknek vagy harmadik feleknek, például saját képviselőiknek. Felhívjuk figyelmét, hogy folyamatosan arra törekszünk, hogy ezek a harmadik felek konkrét intézkedéseket hajtsanak végre az adathasználat biztonsága és védelme érdekében. Ezért szerződéses kikötéseink vannak ezekkel a harmadik felekkel, hogy személyes adatait védjük. Az érintetteket a személyes adatok továbbítása előtt minden alkalommal (ésszerű időn belül) tájékoztatják e harmadik felek kilétéről. Biztosítjuk Önt arról, hogy megbizonyosodunk arról, hogy az átutalások jogszerűek, az érintett személy beleegyezése vagy bármely más esetleges jogalap alapján.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Például a személyes adatok és információk átadhatók más cégeknek, például informatikai vagy távközlési szolgáltatóknak, számviteli, jogi szolgáltatóknak, szállítási társaságoknak, futárcégeknek vagy más harmadik feleknek, akikkel együttműködési szerződést kötnek. Gondosan választjuk ki ezeket a partnereket és harmadik feleket, hogy minden információt és személyes adatot kizárólag a fent említett célokra dolgozzanak fel.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Az adatok az üzleti partnerekkel is megoszthatók a szolgáltatások és termékek nyújtására irányuló közös erőfeszítések eredményeként. Egy másik, kevésbé valószínű eset, amikor a cég eladja az üzletet (vagy annak egy részét), aminek eredményeként személyes adatok továbbítása történik meg, ami az eladással együtt történik.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Ezen túlmenően, az adatok harmadik félnek továbbíthatók, csak az érintett természetes személyek hozzájárulásával.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Emlékezni! Minden személyes adat továbbítható a rendőrségnek, a bíróságnak, az ügyészségnek és más illetékes állami szerveknek, jogszabályi rendelkezések alapján és keretek között, illetve kifejezetten megfogalmazott megkeresés eredményeként.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>A Társaság ésszerű határokon belül biztosítja, hogy az érintettek személyes adatai ne hagyják el az Európai Gazdasági Térséget (EGT). Amennyiben azonban a személyes adatokat az EGT-n kívüli országokba továbbítják, a társaság kötelezettséget vállal arra, hogy kivétel nélkül minden esetben gondoskodik arról, hogy az adattovábbítás jogszerű legyen, és csak az érintett természetes személyek egyértelmű hozzájárulásával történjen. jogi alapon.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>A FELHASZNÁLÓK JOGAI A SZABÁLYOZÁSHOZ</strong></p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>A személyes adatok kezeléséről való tájékoztatáshoz való jog.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>A személyes adatokhoz való hozzáférés joga, a hibás adatok helyesbítésének és a hiányos adatok módosításának lehetősége.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>A hozzájárulás visszavonásának joga minden olyan esetben, amikor a személyes adatok kezelése ezen alapul.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Az adatkezelés tiltakozásának és korlátozásának joga.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>A számítógépes adatbázisokból való törlés joga.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>A bírósághoz fordulás joga.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>A Felügyelethez panasz/panasz benyújtásának és benyújtásának joga.</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p>Az SC Moș SRL tájékoztat minden látogatót, felhasználót és érintett természetes személyt:</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>A személyes adatok vagy a direkt marketing célú kezeléséhez adott hozzájárulás a leiratkozási lépések végrehajtásával (levél, SMS, bármilyen egyéb elektronikus előfizetés) bármikor visszavonható.</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>A jogok gyakorlására vonatkozó igényt írásban, dátummal és aláírt kéréssel lehet eljuttatni az info@mos.ro címre.&nbsp;</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>A fent említett jogok nem abszolút jellegűek; van néhány kivétel is. Emiatt a beérkezett kérelmeket elemezni kell, hogy eldöntsük, indokoltak-e vagy sem. Amennyiben a kérelem indokolt, a társaság elősegíti a jogok gyakorlását. Ha a kérelem megalapozatlan, a társaság elutasítja azt, tájékoztatva a kérelmezőt mind a kérelem elutasításáról, mind a bírósághoz fordulás, illetve a Felügyelethez történő panasztétel jogáról.</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p>A cég vállalja, hogy a megkeresésekre hozzávetőlegesen harminc (30) napon belül válaszol, de bizonyos okok miatt a határidő meghosszabbodhat, mint például: a megkeresések nagy száma, a megkeresés bonyolultsága, a kérelmező azonosításának lehetetlensége. Ez utóbbi esetben, ha a felhasználó/azonosított személy azonosítására tett erőfeszítések után a vállalkozás nem tudja azonosítani, nem köteles a kérésnek eleget tenni.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-hu","area":"uncategorized"} /-->