<!-- wp:template-part {"slug":"header-en","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"hero-en","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"order-en","area":"uncategorized","className":"mos-order-block"} /-->

<!-- wp:template-part {"slug":"about-en","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"services-en","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"testimonials-en","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"contact-en","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"footer-en","area":"uncategorized"} /-->