<!-- wp:template-part {"slug":"header-hu","area":"uncategorized"} /-->

<!-- wp:group {"className":"remove-margin","layout":{"type":"default"}} -->
<div class="wp-block-group remove-margin"><!-- wp:group {"style":{"spacing":{"padding":{"top":"3rem","bottom":"1rem"}}},"className":"mos-cerere-oferta-hero","layout":{"type":"constrained"}} -->
<div class="wp-block-group mos-cerere-oferta-hero" style="padding-top:3rem;padding-bottom:1rem"><!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"className":"mos-cerere-oferta-hero-row","layout":{"type":"flex","flexWrap":"nowrap","orientation":"vertical"}} -->
<div class="wp-block-group mos-cerere-oferta-hero-row"><!-- wp:heading {"style":{"typography":{"fontWeight":"900"}}} -->
<h2 style="font-weight:900">Cookie Politika</h2>
<!-- /wp:heading --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"padding":{"top":"3rem","bottom":"3rem"}}},"className":"padding","layout":{"type":"constrained"}} -->
<div class="wp-block-group padding" style="padding-top:3rem;padding-bottom:3rem"><!-- wp:paragraph -->
<p><strong>Ez a weboldal a cookie-kra vonatkozó szabályzatot használja</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Minden internetes oldal úgynevezett cookie-kat használ. A sütik nem tartalmaznak vírusokat, és nem okoznak semmilyen kárt az Ön által használt eszközben (okostelefon, táblagép, számítógép, laptop).</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Kérjük, figyelmesen olvassa el az alábbi információkat:</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Weboldalunk saját és harmadik féltől származó cookie-kat használ annak érdekében, hogy a látogatók és felhasználók kellemes böngészési élményt, valamint az érdeklődési körükhöz és szükségleteikhez igazodó termékeket és szolgáltatásokat kínálhassunk.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Az itt bemutatott anyag célja, hogy tájékoztassa a felhasználókat az oldalon használt sütik használatának, elhelyezésének és kezelésének részleteiről. A sütik kis szöveges fájlok, amelyek a weboldalunk elérésekor telepítődnek az Ön eszközére, és amelyeket a böngészője tárol.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Az általunk használt sütik többségét <strong>munkamenet sütinek nevezzük </strong>. Ez azt jelenti, hogy a hozzáférés után automatikusan törlődnek.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Vannak más kategóriájú sütik is, amelyek a használt eszközökön maradhatnak, de könnyen törölhetők.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Lehetősége van beállítani az Ön által használt böngészőt úgy, hogy minden alkalommal értesítést kapjon a cookie-k telepítéséről, és tetszés szerint engedélyezze a hozzáférést: a cookie-kat csak bizonyos esetekben fogadhatja el, a cookie-kat kizárhatja, illetve aktiválhatja a a cookie-k automatikus törlése a böngésző bezárásakor.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Emlékezni! Ha a sütik le vannak tiltva, a weboldal funkcionalitása korlátozott lehet.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>A süti szabályzat fontos az elektronikus kommunikációs folyamat lebonyolításához vagy bizonyos funkciók biztosításához, amelyek a látogatók igényeinek kielégítéséhez szükségesek. Például a <strong>Bevásárlókosár funkciót </strong>a cikk szerint tároljuk <strong>. 6. bekezdés 1. lit. f finom GDPR </strong>.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>A weboldal üzemeltetője jogosan érdeklődik a cookie-k tárolása iránt, hogy szolgáltatásait optimalizált és hibátlan műszaki szempontból nyújthassa.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Ha más típusú sütiket tárolnak, például azokat, amelyek a böngészési viselkedést elemzik, azokat az adatvédelmi nyilatkozat külön kezeli.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Napjainkban a cookie-k alapvető szerepet játszanak az olyan szolgáltatások elérésének és nyújtásának megkönnyítésében, amelyekből a felhasználók az internet böngészése során profitálnak, mint például:</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>Egyes beállítások testreszabása, mint például: a nyelv, amelyen a látogatók megtekintik a webhelyet, adatok, mint az idő és dátum, a beállítások karbantartása és memorizálása, a múltban beállított preferenciák megőrzése bizonyos funkciók és gombok elérésével.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>A sütik lehetővé teszik más webhelyekről származó multimédiás vagy egyéb alkalmazások beillesztését/beágyazását egyes oldalakba, hogy értékesebb, kellemesebb és hasznosabb böngészési élményt teremtsenek.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>A sütik értékes visszajelzést adnak a webhelytulajdonosoknak arról, hogy a látogatók/felhasználók hogyan használják webhelyeiket, hogy frissítsék és javítsák azokat, illetve hatékonyabbá tegyék azokat a felhasználók számára.</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p><strong>MI A COOKI-K?</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>INTERNETES COOKIE -nak </strong>, <strong>BÖNGÉSZŐSÜTI -nek </strong>vagy <strong>HTTP COOKIE - </strong>nak is nevezik , a cookie-k számokból és betűkből álló kis fájlok, amelyeket a látogatók az internetböngészés során használt eszközön tárolnak.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Az oldalt üzemeltető webszerver kérésére a cookie-k a felhasználó böngészőjébe (Chrome, Safari, Firefox), teljesen passzív módon kerülnek elküldésre. Konkrétan nem tartalmaz semmilyen szoftvert, spyware-t, vírust, és nem fér hozzá a felhasználók eszközein lévő információkhoz.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Minden süti két részből áll: a webhely tárhely domainjéhez egyedileg társított, a felhasználó böngészőjének küldött cookie nevéből, tartalmából vagy értékéből.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>A cookie fennállásának időtartama meghatározásra kerül, és csak a cookie-t küldő webszerver férhet hozzá újra, csak akkor, ha a felhasználó visszatér az adott webszerver közösségi oldalára.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Emlékezni! A sütik nem igényelnek személyes adatokat, és nem azonosítják az internetezőket sem.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Íme a sütik két fő típusa:</p>
<!-- /wp:paragraph -->

<!-- wp:list {"ordered":true} -->
<ol><!-- wp:list-item -->
<li><strong>Munkamenet cookie-k</strong></li>
<!-- /wp:list-item --></ol>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p>Ezeket átmenetileg a böngésző cookie-fájlja tárolja mindaddig, amíg a látogató be nem zárja a böngészőablakot, vagy el nem hagyja az adott webhelyet.</p>
<!-- /wp:paragraph -->

<!-- wp:list {"ordered":true,"start":2} -->
<ol start="2"><!-- wp:list-item -->
<li><strong>Állandó sütik</strong></li>
<!-- /wp:list-item --></ol>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p>Ezek olyan cookie-k, amelyek a használt eszközben, hosszabb ideig tárolódnak, és akkor is tárolódnak, ha a látogató bezárja a böngészőablakot, vagy elhagyja az adott oldalt. Általában az alapértelmezett cookie-élettartamtól függenek.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Az állandó cookie-k közé tartoznak az Ön által jelenleg használttól eltérő webhely által elhelyezett cookie-k. Ezeket <strong><em>harmadik fél cookie -knak nevezzük </em></strong>– harmadik felek által elhelyezett cookie-k, amelyek névtelenül használhatók, azzal a céllal, hogy megjegyezzék a felhasználói preferenciákat, hogy a felhasználó számára a legrelevánsabb tartalmat (anyagok, hirdetések) biztosítsák.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>MILYEN ELŐNYÖK A SÜTIKNEK?</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>A sütik olyan információkat tartalmaznak, amelyek összekötik a webszervert (webhelyet) és a felhasználó böngészőjét. Amikor a felhasználó ismét hozzáfér az adott webszerverhez (a megfelelő webhelyhez), azonosítja a már tárolt információkat, és ennek megfelelően reagál.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>A sütik célja, hogy kellemes online böngészési élményt nyújtsanak a felhasználóknak. A cookie-k ugyanakkor támogatják a weboldal azon törekvéseit, hogy kényelmes szolgáltatásokat nyújtsanak a felhasználóknak: a weboldal nyelvi beállításai, személyre szabott hirdetések, online adatvédelmi beállítások.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>MI A SÜTI ÉLETTARTAMA?</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Minden cookie-t a weboldalak kezelnek. Élettartamuk jelentősen eltér attól függően, hogy milyen célból helyezték el az adott webhelyen. Egyes sütiket kizárólag egyetlen munkamenethez használnak – a munkamenet sütiket –, amelyeket nem őriznek meg, miután a felhasználók elhagyták a webhelyet. A többi cookie-t a felhasználó böngészője megőrzi, és újra felhasználja, amikor visszatér az oldalra – állandó cookie-k. Fontos megjegyezni, hogy ezeket a sütiket a felhasználó bármikor törölheti.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>HARMADIK FELEK ÁLTAL ELHELYEZETT SÜTIK</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Lehetséges, hogy az egyes webhelyeken található tartalom bizonyos részeit harmadik felek biztosítják (például: hirdetések, YouTube-videó stb.). Ezek a harmadik felek a meglátogatott webhelyen keresztül cookie-kat helyezhetnek el, amelyek <strong>harmadik féltől származó cookie -k nevét viselik </strong>, mivel azokat nem az adott webhely állítja be.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Természetesen minden külső szolgáltatónak be kell tartania a hatályos jogszabályokat, illetve a weboldal tulajdonosának adatvédelmi szabályzatát.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Cookie-k helyezhetők el ezen a weboldalon a következő célokra:</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>Teljesítmény cookie-k</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Felhasználói elemző cookie-k</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Hitelesítési cookie-k</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Regisztrációs cookie-k</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Harmadik féltől származó cookie-k</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p><strong>A SÜTI IRÁNYELVÉN KERESZTÜL ELÉRHETŐ ÉS TÁROLT ADATOK TÍPUSAI</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>A sütik egy kis szöveges fájlban tárolják az információkat, amelyek lehetővé teszik a webhelyek számára, hogy felismerjék a felhasználó böngészőjét. Ezért a webszerver a cookie-k lejártáig (munkamenet cookie-k) vagy törléséig (állandó cookie-k) felismeri ezt a böngészőt.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>A sütik az internetes böngészés minőségének javítása érdekében fontos adatokat tárolnak: nyelvi beállítások, a felhasználó hitelesítésének fenntartása (levélben, hitelesítési fiók a weboldalakon, biztonság az online környezetben).</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>MIÉRT FONTOSAK A SÜTI AZ INTERNET SZÁMÁRA?</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>A sütiszabályzat jelenleg az internet optimális működésének elengedhetetlen eleme, hozzájárulva a kellemes, felhasználóbarát böngészési élmény biztosításához, mindegyikük érdeklődéséhez igazodva. Fontos, hogy a felhasználók felhívják a figyelmet arra, hogy a sütik elutasítása vagy letiltása lehetetlenné teheti a meglátogatott webhelyek használatát.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Ezenkívül a cookie-k kikapcsolása vagy elutasítása nem egyenlő azzal, hogy a továbbiakban nem küldenek hirdetéseket a felhasználóknak, hanem azt jelenti, hogy többé nem lehet figyelembe venni a felhasználók böngészési viselkedéséből adódó érdeklődéseket és preferenciákat.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Íme, miért használnak sütiket:</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>A felhasználók érdeklődésére és preferenciáira szabott ajánlatok</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>A felhasználói preferenciákhoz igazított tartalom (hírek, időjárás, sport, közszolgáltatások, szórakozás stb.)</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>A hirdetések küldésének gyakoriságának korlátozása (a felhasználók hirdetésmegjelenítéseinek számának korlátozása)</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>A gyermekek internetezés közbeni védelmére alkalmazott szűrők mentése (biztonságos keresési lehetőségek, családi mód stb.)</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Az elemzési funkciók optimalizálása és mérése (a webhely forgalma, a többször elért tartalom típusa, az, ahogyan a felhasználók végül elérnek egy bizonyos webhelyet)</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p><strong>BIZTONSÁGI ÉS ADATVÉDELMI ÜGYEK</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>A cookie-k egyszerű szöveges formátumúak, és nem tartalmaznak vírusokat.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>A cookie-k nem kódrészletekből állnak, így nem indulhatnak el automatikusan és nem hajthatók végre. Ezért a cookie-k nem másolhatók vagy replikálhatók más hálózatokon, hogy újra futhassanak. Mivel nem tudják ellátni ezeket a funkciókat, nem tekinthetők vírusoknak.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>A cookie-k azonban bizonyos esetekben negatív célokra is felhasználhatók. Mivel alapvető adatokat tárol a felhasználók böngészési előzményeiről és preferenciáiról, egyfajta kémprogramként is használható. Egyes kémprogram-elhárító termékek és alkalmazások képesek megjelölni a cookie-kat törlésre a kémprogram-/víruskereső vizsgálat és törlés során.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Általános szabály, hogy a böngészők olyan adatvédelmi beállításokat tartalmaznak, amelyek különböző szintű sütik elfogadását, érvényességi idejét és automatikus törlését generálják, miután a felhasználók felkerestek egy adott webhelyet.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Figyelembe véve, hogy az identitásvédelem kulcsfontosságú kérdés, amely minden internetfelhasználó jogát képviseli, a látogatóknak tisztában kell lenniük azzal, hogy milyen problémák merülhetnek fel a cookie-kkal kapcsolatban:</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>A cookie-k segítségével az adatok mindkét irányban – a webszerver és a felhasználó böngészője felé – folyamatosan továbbításra kerülnek, így ha az információcsere során illetéktelen személy vagy támadó beavatkozik, a cookie-k által tartalmazott adatok elfoghatók. Bár az ilyen helyzetek ritkák, előfordulhatnak, ha a böngésző egy nem biztonságos, nem titkosított hálózathoz csatlakozó kiszolgálóhoz csatlakozik. Például nem biztonságos Wi-Fi hálózatok.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Ha egy webszerver nem kéri a böngészőt titkosított csatornák használatára, illetéktelen személyek vagy támadók használhatják ezt a biztonsági rést, hogy rávegyék a böngészőt, hogy adatokat küldjön nem biztonságos csatornákon.</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p>Ezután a támadók az így megszerzett információkat arra használhatják fel, hogy illetéktelen módon hozzáférjenek bizonyos webhelyekhez.</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>A cookie-támadások egyéb példái közé tartozik azok helytelen beállítása a webszerveren.</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p><strong>AJÁNLÁSOK A FELELŐSSÉGES, BIZTONSÁGOS, COOKIE-BIZTONSÁGOS BÖNGÉSZÉSHEZ</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Rendkívül fontos a személyes adatok védelmének megfelelő módszerének helyes kiválasztása.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Annak köszönhetően, hogy minden nagyobb weboldal használja őket, de a cookie-k rugalmasságának köszönhetően is elkerülhetetlenné váltak. Ha megtagadják vagy letiltják, a hozzáférés korlátozható a felhasználókra, különösen a legnépszerűbb platformokon és webhelyeken: a Gmail, a Google és a YouTube csak néhány példa.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Hasznos tippek a gondtalan böngészéshez a cookie-k segítségével:</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>Mindig szabja testre böngészőjének beállításait a cookie-k tekintetében, hogy biztosítsa a biztonság szintjét és a kellemes böngészési élményt.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Ha Ön az eszköz (számítógép, laptop, okostelefon, táblagép) egyetlen felhasználója, és nem zavarják a cookie-k, lehetőség van hosszú cookie-létezési feltételek beállítására a személyes hozzáférési adatok és a böngészési előzmények tárolására.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Ha a használt eszközhöz való hozzáférés meg van osztva másokkal, beállíthatja, hogy a böngészési adatok minden alkalommal törlésre kerüljenek a böngészőből, amikor befejezi a munkamenetet egy webhelyen.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Mindig frissítse böngészőjét. A cookie-kon alapuló virtuális támadások közül sok a régi böngészőverziók sebezhető pontjainak kihasználásával valósul meg.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Fontolja meg a kémprogram-elhárító alkalmazások telepítését és frissítését. A legtöbb ilyen alkalmazás észleli a meglátogatott webhelyek elleni támadásokat. Ebben a módban a böngésző nem fér hozzá olyan webhelyekhez, amelyek kihasználhatják a böngésző sebezhetőségeit, vagy hozzáférhetnek és letölthetnek bármilyen veszélyes szoftvert.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>A cookie-kat a weboldalak mindenhol használnak, és nem kerülhetők el, ha az internet legnépszerűbb platformjait szeretné felkeresni, legyen az helyi vagy nemzetközi. Minél jobban megérti annak működését és előnyeit, annál inkább megteheti a szükséges óvintézkedéseket a biztonságos vitorlázás érdekében.</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p><strong>HOGYAN LEHET KIKAPCSOLNI A SÜTIKET?</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>A cookie-k elutasítása és/vagy letiltása azt jelentheti, hogy egyes webhelyek nem látogathatók és nem használhatók, de ez nem jelenti azt, hogy a hirdetések vagy hirdetések megszűnnek.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Böngészője beállítható úgy, hogy a továbbiakban ne fogadja el ezeket a sütiket, de előfordulhat, hogy bizonyos funkciók korlátozottak az oldalon. Például: Többé nem írhat megjegyzéseket.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>A modern böngészők lehetőséget adnak a cookie-beállítások módosítására, amelyek általában a <strong><em>Beállítások menüben </em></strong>vagy az <strong><em>Opciók menüpontban találhatók meg </em></strong>, vagy a <strong><em>Súgó opcióval </em></strong>további részletekért.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-hu","area":"uncategorized"} /-->