<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"className":"remove-margin","layout":{"type":"default"}} -->
<div class="wp-block-group remove-margin"><!-- wp:group {"style":{"spacing":{"padding":{"top":"3rem","bottom":"1rem"}}},"className":"mos-cerere-oferta-hero","layout":{"type":"constrained"}} -->
<div class="wp-block-group mos-cerere-oferta-hero" style="padding-top:3rem;padding-bottom:1rem"><!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"className":"mos-cerere-oferta-hero-row","layout":{"type":"flex","flexWrap":"nowrap","orientation":"vertical"}} -->
<div class="wp-block-group mos-cerere-oferta-hero-row"><!-- wp:heading {"style":{"typography":{"fontWeight":"900"}}} -->
<h2 style="font-weight:900">Politica de Cookies</h2>
<!-- /wp:heading --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"padding":{"top":"3rem","bottom":"3rem"}}},"className":"padding","layout":{"type":"constrained"}} -->
<div class="wp-block-group padding" style="padding-top:3rem;padding-bottom:3rem"><!-- wp:paragraph -->
<p><strong>Acest website folosește politica de cookies</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Toate paginile de Internert utilizează așa-numitele cookie-uri. Cookie-urile nu conțin viruși și provoacă niciun fel de daune dispozitivului pe care îl utilizați (smartphone, tabletă, computer, laptop).&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Citiți cu atenție, vă rugăm, următoarele informații:</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Site-ul nostru folosește cookies proprii și de la terți cu scopul de a le oferi vizitatorilor și utilizatorilor o experiență cât mai plăcută de navigare, precum și produse și servicii adaptate intereselor și nevoilor acestora.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Materialul prezentat aici are scopul de a aduce la cunoștința utilizatorilor detalii despre utilizarea, plasarea și administrarea cookie-urilor pe care le utilizăm pe site. Cookie-urile sunt fișiere text de dimensiuni mici, care se instalează pe dispozitivul dumneavoastră când accesați site-ul nostru, pe care browser-ul le stochează.&nbsp;&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Cele mai multe cookies pe care le utilizăm sunt cele numite <strong>Cookies de sesiune</strong>. Acest lucru înseamnă faptul că după accesare, acestea vor fi șterse în mod automat.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Există și alte categorii de cookies, care pot rămâne stocate pe dispozitele utilizate, dar pot fi șterse cu ușurință.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Aveți opțiunea de a seta browser-ul pe care îl utilizați, astfel încât să fiți notificat de fiecare dată cu privire la instalarea de cookies și să le permiteți accesul așa cum doriți: puteți accepta cookies doar în anumite cazuri, puteți exclude cookie-urile, respectiv puteți activa ștergerea automată a cookie-rilor când închideți browser-ul.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>De reținut! În cazul în care sunt dezactivate cookie-urile, este posibil ca funcționalitatea site-ului să fie limitată.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Politica de cookies este importantă pentru a realiza procesul de comunicare electronică sau pentru a furniza anumite funcții necesare pentru a îndeplini cerințele vizitatorilor. Spre exemplu, funcția <strong>Coș de Cumpărături</strong> este stocată conform <strong>art. 6 alin.1 lit. f fin GDPR</strong>.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Operatorul acestui website este interesat în mod justificat cu privire la stocarea cookie-urilor cu scopul de a-și furniza serviciile dintr-o perspectivă tehnică optimizată și impecabilă.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>În cazul în care sunt stocate alte tipuri de cookies, cum sunt cele care analizează comportamentul de navigare, ele sunt tratate separat în declarația privind protecția datelor.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>În zilele prezente, cookie-urile au un rol esențial în facilitarea accesului și livrării serviciilor de care utilizatorii beneficiază când navighează pe Internet, precum:</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>Personalizarea unor setări, cum sunt: limba în care vizitatorii vizualizează website-ul, date de tipul ora și data, menținerea setărilor și memorarea lor, păstrarea preferințelor setate în trecut, prin accesarea anumitor funcții și butoane.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Cookie-urile permit aplicațiilor multimedia sau de alt tip de pe alte website-uri să fie inserate/embed în unele pagini cu scopul de a crea o experiență de navigare cât mai valoroasă, plăcută și utilă.&nbsp;</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Cookie-urile le oferă deținătorilor de website-uri feedback prețios cu privire la modul în care sunt utilizate site-urile lor de către vizitatori/utilizatori, cu scopul de a le actualiza și de a le îmbunătăți, respectiv pentru a fi mai eficiente pentru utilizatori.&nbsp;</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p><strong>CE SUNT COOKIE-URILE?</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Numite și <strong>INTERNET COOKIE</strong>, <strong>BROWSER COOKIE</strong> sau <strong>HTTP COOKIE</strong>, cookie-urile sunt fișiere de dimensiuni mici, alcătuite din numere și litere, stocate pe dispozitivul utilizat de către vizitatori atunci când navighează pe Internet.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Printr-o solicitare emisă de către web-serverul pe care este site-ul găzduit, cookie-urile sunt trimise către browser-ul utilizatorilor (Chrome, Safari, Firefox), fiind complet pasiv. Mai exact, acesta nu conține niciun program software, spyware, viruși și nici nu are acces la informațiile de pe dispozitivele utilizatorilor.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Fiecare cookie este alcătuit din două părți: denumirea, conținutul sau valoarea cookie-ului asociat în mod unic domeniului de găzduire a site-ului, trimis către browser-ul utilizatorului.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Durata de existență a unui cookie este determinată și doar webserver-ul care a transmis cookie-ul îl poate accesa din nou, doar în momentul când utilizatorul revine pe site-ul asocial respectivului webserver.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>De reținut! Cookie-urile nu solicită date personale pentru a putea fi utilizate și nici nu identifică utilizatorii de Internet în mod personal.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Iată care sunt cele două tipuri principale de cookies:</p>
<!-- /wp:paragraph -->

<!-- wp:list {"ordered":true} -->
<ol><!-- wp:list-item -->
<li><strong>Cookies de sesiune</strong></li>
<!-- /wp:list-item --></ol>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p>Sunt cele stocate temporar în dosarul de cookies al browser-ului, până în momentul în care vizitatorul închide fereastra browser-ului sau părăsește website-ul respectiv.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:list {"ordered":true,"start":2} -->
<ol start="2"><!-- wp:list-item -->
<li><strong>Cookies permanente</strong></li>
<!-- /wp:list-item --></ol>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p>Sunt cookies stocate în dispozitivul utilizat, pentru o perioadă mai mare de timp, rămânând stocate inclusiv după ce vizitatorul închide fereastra browser-ului sau părăsește respectivul site. În general, depind de durata de existență prestabilită pentru cookies.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Cookie-urile persistene includ din cookie-urile plasate de alt website decât cel pe care îl utilizează la momentul respectiv. Acestea poartă numele de <strong><em>third party cookies </em></strong>- cookies plasate de terțe părți, ce pot fi utilizate anonim, cu scopul de a memora preferințele utilzatorilor, pentru a le fi livrat conținut cât mai relevant pentru utilizator (materiale, reclame).&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>CE AVANTAJE AU COOKIE-URILE?</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Cookie-urile conțin informații care fac legătura între un web-server (website) și browser-ul utilizatorilor. În momentul în care un utilizator accesează din nou respectivul web-server (website-ul respectiv), acesta va indentifica informația stocată deja, reacționând în consecință.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Cookie-urile au scopul de a le asigura utilizatorilor o experiență plăcută de navigare online. Totodată, cookie-urile susțin eforturile website-urile pentru a le oferi utilizatorilor servicii confortabile: opțiuni pentru limba site-ului, publicitate personalizată, preferințe cu privire la confidențialitatea online.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>CARE ESTE DURATA DE VIAȚĂ A UNUI COOKIE?</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Toate cookie-urile sunt adminitrate de website-uri. Durata de viață a acestora variază considerabil, în funcție de scopul pentru care a fost plasat pe respectivul site. Unele cookies sunt utilizate exclusiv pentru o singura sesiune - cookies de sesiune - nefiind reținute după ce utilizatorii au părăsit website-ul. Alte cookies sunt reținute de browser-ul utilizatorului și vor fi refolosite atunci când va reveni pe site - cookies permanente. Este important de reținut că aceste cookies pot fi șterse oricând de către utilizator.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>COOKIES PLASATE DE TERȚI&nbsp;</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Este posibil ca unele porțiuni din conținutul care există pe unele website-uri să fie furnizate prin intermendiul unor terțe părți (spre exemplu: reclame, un video de pe YouTube etc.). Acești terți pot să insereze la rândul lor cookies prin intermediul site-ului vizitat, purtând numele de <strong>third party cookies</strong>, întrucât nu sunt plaste de site-ul respectiv.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Bineînțeles, toți furnizorii terți trebuie să respecte legislația în vigoare, respectiv politica de confidențialitate a deținătorului site-ului.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Pe acest website pot fi plaste cookies cu următoarele scopuri:</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>Cookies de performanță</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Cookies de analiză a utilizatorilor</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Cookies de autentificare&nbsp;</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Cookies de înregistrare</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Cookies ale terților</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p><strong>TIPURI DE DATE ACCESATE ȘI STOCATE PRIN POLITICA DE COOKIES</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Cookies rețin informațiile într-un fișier text de dimensiuni reduse ce permit website-urilor să recunoască browser-ul utilizatorilor. Așadar, web-server-ul recunoaște respectivul browser până când cookie-urile expiră (cookies de sesiune) sau sunt șterse (cookies permanente).&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Cookie-urile stochează date importante pentru îmbunătățirea calității navigării pe Internet: setări de limbă, menținerea autentificării unui user (în mail, contul de autentificare pe webiste, securitate în mediul online).&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>DE CE SUNT IMPORTANTE COOKIE-URILE PENTRU INTERNET?</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Politica de cookies este, în momentul de față, elementul esențial pentru funcționarea optimă a Internetului, contribuind la asigurarea unei experiențe de navigare plăcută, prietenoasă cu utilizatorii, adaptată conform intereselor fiecăruia dintre aceștia. Este important ca utilizatorii să rețină faptul că refuzarea de cookies sau dezactivarea lor ar putea face ca website-urile vizitate să fie imposibil de utilizat.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>De altfel, dezactivarea sau refuzul cookie-urilor nu este echivalent cu faptul că nu vor mai fi trimise reclame către utilizatori, ci înseamnă că nu se va mai putea ține cont de interesele și preferințele reflectate de comportamentul de navigare al utilizatorilor.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Iată de ce sunt cookie-urile utilizate:</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>Oferte adaptate intereselor și preferințelor utilizatorilor</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Conținut adaptat preferințele utilizatorilor (știri, vreme, sport, servicii publice, entertainment etc.)</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Limitarea frecvenței de transmitere a reclamelor (limitarea nr. de afișări a reclamelor pentru utilizatori)</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Salvarea filtrelor aplicate pentru protecția copiilor atunci când navighează pe Internet (opțiuni de safe search, family mode etc)</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Optimizarea și măsurarea caracteristicilor de analytics (traficul pe un un website, tipul de conținut accest mai mult, modalitatea prin care utilizatorii ajung să acceseze un anumit site)</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p><strong>SECURITATE ȘI CHESTIUNI PRIVIND CONFIDENȚIALITATEA</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Cookies sunt un format de tip plain text și nu conțin viruși.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Cookie-urile nu sunt formate din bucăți de cod, astfel încât nu pot autorula și nu pot fi excutate. Prin urmare, cookie-urile nu pot fi dublicate sau replicate pe alte rețele cu scopul de a rula din nou. Deoarece nu pot îndeplini aceste funcții, nu au cum să fie considerate viruși.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Totuși, cookie-urile pot fi utilizate în scopuri negative în unele cazuri. Întrucât stochează date esențiale despre istoricul de navigare și preferințele utilizatorilor, ar putea fi folosite ca modalitatea de spyware. Unele produse și aplicații anti-spyware au capacitatea să marcheze cookie-urile pentru a le șterge în cadrul procedurilor de scanare și ștergere anti-spyware/anti-virus.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>De regulă, browser-ele conțin setări de confidențialitate care generează nivele diferite de acceptare a cookie-urilor, perioada de valabilitate a acestora și ștergerea lor în mod automat, după ce utilizatorii au vizitat un website anume.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Ținând cont de faptul că protecția identității este o chestiune crucială, reprezentând dreptul tuturor utilizatorilor de Internet, vizitatorii trebuie să cunoască ce probleme ar putea surveni în legătură cu cookie-urile:</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>Cu ajutorul cookie-urilor se transmit în permanență date în cele două sensuri - webserver și browser-ul utilizatorului - astfel că dacă o persoană neautorizată sau un atacator intervine în timpul acestui schimb de informații, datele pe care cookie-urile le conțin pot fi interceptate. Cu toate că astfel de situații sunt rare, ele pot apărea în cazul în care browser-ul se conectează la un server conectându-se la o rețea care nu este securizată, necriptată. Spre exemplu, rețelele Wi-Fi nesecurizate.&nbsp;</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>În cazul în care un webserver nu solicită browser-ului să utilizeze canale criptate, persoanele neautorizate sau atacatorii pot folosi acest punct vulnerabil pentru a înșela browser-ul să trimită date prin intermendiul canalelor nesecurizate.&nbsp;</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p>Mai apoi, atacatorii pot folosi informațiile astfel obținute pentru a accesa anumite website-uri în mod neautorizat.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>Alte exemple de atacuri prin cookies implică setarea incorectă a acestora pe webserver.&nbsp;</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p><strong>RECOMANDĂRI PENTRU NAVIGAREA RESPONSABILĂ, SIGURĂ, ASIGURATĂ DE COOKIES</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Este extrem de important să alegeți corect metoda potrivită pentru protecția datelor cu caracter personal.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Datorită faptului că toate website-urile mari le utilizează, dar și grație flexibilității cookie-urilor, acestea au ajuns să fie inevitabile. Atunci când sunt refuzate sau dezactivate, accesul poate fi restricționat utilizatorilor, în special pe cele mai populare platforme și website-uri: Gmail, Google, YouTube fiind doar câteva exemple.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Sfaturi utile pentru a naviga fără griji cu ajutorul cookie-urilor:</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>Particularizați întotdeauna setările browser-ului privinf cookie-urile pentru a vă asigura nivelul de securitate și o experiență de navigare plăcută.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Dacă sunteți singurul utilizator al dispozitivului (computer, laptop, smartphone, tabletă) și dacă nu sunteți deranjat de cookie-uri, există posibilitatea de setare a termenelor lungi de existență a cookie-urilor pentru a stoca datele personale de acces și istoricul de navigare.&nbsp;</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>În cazul în care accesul la dispozitivul utilizat este împărțit cu alte persoane, puteți opta pentru a seta ștergerea datelor de navigare din browser de fiecare dată când încheiați sesiunea pe un website.&nbsp;</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Realizați întotdeauna actualizarea (update) browser-ului. Multe dintre atacurile virtuale care se bazează pe cookies sunt efectuate prin exploatarea punctelor vulnerabile ale versiunilor vechi de browser.&nbsp;</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Luați în considerare instalarea și actualizarea aplicațților anti-spyware. Majoritatea acestor aplicații detectează atacurile de pe site-urile pe care le vizitați. În acest mod, browserul este blocat să acceseze site-uri care ar putea exploata vulnerabilitățile browser-ului sau să acceseze și descarce vreun software periculos.&nbsp;</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Cookie-urile sunt utilizate de site-urile de pretutindeni și nu pot fi evitate dacă doriți să vizitați cele mai populare platforme pe Internet, indiferent că este vorba de cele locale sau internaționale. Cu cât înțelegeți mai bine modul de operare și beneficiile aduse, cu atât puteți lua măsurile necesare pentru siguranța navigării.&nbsp;</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p><strong>CUM POT FI COOKIE-URILE DEZACTIVATE?</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Refuzul și/sau dezactivarea cookie-urilor ar putea însemna că unele site-uri pot fi imposibil de vizitat și utilizat, însă nu înseamnă că publicitatea sau reclamele vor fi eliminate.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Browser-ul poate fi setat pentru ca aceste cookie-uri să nu mai fie acceptate, dar anumite funcții ar putea fi reduse pe respectivul site. De exemplu: nu mai puteți lăsa comentarii.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Browser-ele moderne asigură posibilitatea de schimbare a setărilor cookie-urilor, ce pot fi găsite de obicei în meniul de <strong><em>Preferințe</em></strong> sau la <strong><em>Opțiuni</em></strong>, fie să folosiți opțiunea <strong><em>Ajutor</em></strong>, pentru a obține mai multe detalii.&nbsp;</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->