<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"12rem"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="padding-top:12rem"><!-- wp:group {"className":"mos-cerere-oferta","layout":{"type":"constrained"}} -->
<div class="wp-block-group mos-cerere-oferta"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:contact-form-7/contact-form-selector {"id":222,"title":"Cere Oferta","className":"mos-cerere-oferta-form"} -->
<div class="wp-block-contact-form-7-contact-form-selector mos-cerere-oferta-form">[contact-form-7 id="222" title="Cere Oferta"]</div>
<!-- /wp:contact-form-7/contact-form-selector --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->