<!-- wp:template-part {"slug":"header-minimal","area":"uncategorized"} /-->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"}}},"className":"mos-order-form","layout":{"type":"constrained"}} -->
<div class="wp-block-group mos-order-form" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:mos-blocks/order-form /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->

<!-- wp:mos-blocks/auth-modal /-->