<!-- wp:template-part {"slug":"header-hu","area":"uncategorized"} /-->

<!-- wp:group {"className":"remove-margin","layout":{"type":"default"}} -->
<div class="wp-block-group remove-margin"><!-- wp:group {"style":{"spacing":{"padding":{"top":"3rem","bottom":"1rem"}}},"className":"mos-cerere-oferta-hero","layout":{"type":"constrained"}} -->
<div class="wp-block-group mos-cerere-oferta-hero" style="padding-top:3rem;padding-bottom:1rem"><!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"className":"mos-cerere-oferta-hero-row","layout":{"type":"flex","flexWrap":"nowrap","orientation":"vertical"}} -->
<div class="wp-block-group mos-cerere-oferta-hero-row"><!-- wp:heading {"style":{"typography":{"fontWeight":"900"}}} -->
<h2 style="font-weight:900">Kérjen Árajánlatot</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Kérjen árajánlatot termékére, és csapatunk szakembere 24 órán belül felveszi Önnel a kapcsolatot.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"padding":{"top":"3rem"}}},"className":"mos-cerere-oferta","layout":{"type":"constrained"}} -->
<div class="wp-block-group mos-cerere-oferta" style="padding-top:3rem"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:contact-form-7/contact-form-selector {"id":630,"title":"Cerere Oferta (Hu)","className":"mos-cerere-oferta-form"} -->
<div class="wp-block-contact-form-7-contact-form-selector mos-cerere-oferta-form">[contact-form-7 id="630" title="Cerere Oferta (Hu)"]</div>
<!-- /wp:contact-form-7/contact-form-selector --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-hu","area":"uncategorized"} /-->