/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.mos-button {
  font-family: var(--wp--preset--font-family--sans);
  font-size: var(--wp--preset--font-size--body-medium);
  color: var(--wp--preset--color--on-primary);
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 24px;
  padding-top: 10px;
  padding-right: 24px;
  padding-bottom: 10px;
  padding-left: 24px;
  background-color: #ffffff !important;
  position: relative;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
}
.mos-button svg {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.mos-button svg path {
  fill: none;
  stroke: var(--wp--preset--color--on-surface);
  stroke-width: 1;
  stroke-dasharray: 390, 0;
  transition-property: all;
  transition-duration: 3s;
  transition-timing-function: ease;
}

.mos-button:hover path {
  stroke: var(--wp--preset--color--primary);
  stroke-dasharray: 72, 134;
  stroke-dashoffset: 96;
  transition: all 1.12s cubic-bezier(0.19, 1, 0.22, 1);
}
